body {
	font-family: "Roboto", sans-serif;
	height: 100%;
	width: 100%; 
}

//30% for left side
.w-30 {
	width: 30%; 
}
//possible background
.bg {
	background: url(img/background.png) no-repeat center center fixed;
	background-size: cover;
	opacity: 0.4;
	position: absolute;
	width: 100%;
	height: 100%; 
}

//size of each icon boxes
.box{
	width: 120%; 
  	height: 120%;
  	img{
  		height: 100%;
  		width: 100%;
  		object-fit: contain; 
  	} 
}

.w-10 {
	width: 6vw;
	margin: 1.5%;
	height: 6vw; 
}

.grayscale{
    filter: gray; /* IE6-9 */
  	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.margin{
	margin: 1%;
	margin-left: 0.5%!important;
}
.font {
	font-size: 150%; 
}